{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }}{% else %}Welcome{% endif %}
{% endblock %}

{% block additional_styles %}
 <style>
    body {
        background-color: #e9ecef;
    }
    </style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main_page')}}">
        <img src="https://www.flaticon.com/svg/static/icons/svg/1292/1292978.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Presentation verification system
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user is defined %}
            <li class="nav-item">
                <a class="nav-link" href="/upload_presentation">Check new</a>
            </li>
            {% endif %}
            {% if user is defined %}
            <li class="nav-item">
                <a class="nav-link" type="submit" href="/list/1">Data base</a>
            </li>
            {% endif %}
        </ul>
        {% if user is defined %}
            <div class="btn-group dropleft" style="width: 150px">
                <button type="button" class="btn btn-info dropdown-toggle btn-block text-truncate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.username}}
                </button>
                <div class="dropdown-menu btn-block">
                    <a class="dropdown-item btn-block text-truncate" href="{{url_for('home')}}">Profile</a>
                <div class="dropdown-divider btn-block"></div>
                    <a class="dropdown-item btn-block text-truncate" href="{{url_for('log_out')}}">Log out</a>
                </div>
            </div>
        {% else %}
            <a href="/sign-in" class="btn btn-outline-success" role="button" style="margin-right: 5px">Sign in</a>
            <a href="/sign-up" class="btn btn-outline-success" role="button">Sign up</a>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="jumbotron">
    {% block app_content %}{% endblock %}
</div>
{% endblock %}