{% extends "base.html" %}

{% block app_content  %}
        <h1 class="display-4">Checking results:</h1>
        <hr class="my-4">
        <table class="table table-bordered">
        <thead>
           <tr>
             <th scope="row">#</th>
             <td colspan="2">Check</td>
             <td>Result</td>
           </tr>
        </thead>
        <tbody>
         {% for result in results %}
            <tr>
                 <th scope="row">{{loop.index}}</th>
                 <td colspan="2">{{result.name}}</td>
                 <td>{{result.res}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}