{% extends "base.html" %}

{% block app_content  %}
 <h1 class="display-4">Choose file:</h1>
 <hr class="my-4">
 <table class="table table-bordered">
     <thead>
           <tr>
             <th scope="row">#</th>
             <td>File name</td>
           </tr>
     </thead>
     <tbody>
         {% for elem in list %}
            <tr>
                 <th scope="row">{{loop.index}}</th>
                 <td>
                     {{elem.name}}<div class="text-right"> <a href="{{url_for('results', username=user.username, id=elem.id)}}" class="btn btn-primary" role="button" aria-pressed="true">Choose</a>
                     </div>
                 </td>
            </tr>
        {% endfor %}
     </tbody>
 </table>
     <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-end">
             {% if prev_page == True %}
             <li class="page-item">
                 <a class="page-link" href="{{url_for('list', username=user.username, page = (page_number - 1))}}" aria-disabled="false">Previous</a>
             </li>
             {% else %}
              <li class="page-item disabled">
                 <a class="page-link" aria-disabled="true">Previous</a>
             </li>
             {% endif %}
             {% if prev_page == True and next_page == True %}
             <li class="page-item"><a class="page-link" href="{{url_for('list', username=user.username, page = (page_number - 1))}}">{{page_number - 1}}</a></li>
             <li class="page-item"><a class="page-link">{{page_number}}</a></li>
             <li class="page-item"><a class="page-link" href="{{url_for('list', username=user.username, page = (page_number + 1))}}">{{page_number + 1}}</a></li>
             {% elif prev_page == False and next_page == True %}
             <li class="page-item"><a class="page-link">{{page_number}}</a></li>
             <li class="page-item"><a class="page-link" href="{{url_for('list', username=user.username, page = (page_number + 1))}}">{{page_number + 1}}</a></li>
             {% elif prev_page == True and next_page == False %}
             <li class="page-item"><a class="page-link" href="{{url_for('list', username=user.username, page = (page_number - 1))}}">{{page_number - 1}}</a></li>
             <li class="page-item"><a class="page-link">{{page_number}}</a></li>
             {% elif prev_page == False and next_page == False %}
             <li class="page-item"><a class="page-link">{{page_number}}</a></li>
             {% endif %}
             {% if next_page == True %}
             <li class="page-item">
                 <a class="page-link" href="{{url_for('list', username=user.username, page = (page_number + 1))}}" aria-disabled="false">Next</a>
             </li>
             {% else %}
             <li class="page-item disabled">
                 <a class="page-link" aria-disabled="true">Next</a>
             </li>
             {% endif %}
         </ul>
     </nav>
{% endblock %}