{% extends "base.html" %}

{% block app_content  %}
<div style="display: flex; justify-content: center">
    <div class="card col-sm-4">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
            <hr>
            <form method="post" action="/sign-in">
                <div class="form-group">
                    <label for="email" class="col-form-label">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </form>
        </article>
    </div>
</div>
{% endblock %}